.page-title h1,
.page-title h2 {
  color: #3a4763;
  font-family: "proxima-nova", "Proxima Nova", Arial, sans-serif;
  line-height: 1.44444444;
  margin-bottom: 14px;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}
.page-title h1,
.page-title h2 {
  font-family: "jins_next_ttlight", Arial, sans-serif;
  font-size: 2.389em;
  line-height: 1.302325581395349;
  letter-spacing: 0.2em;
}
.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.ie8 .cart,
.ie9 .cart,
.ie10 .cart {
  display: block;
}
.cart .cart-products,
.cart .cart-options {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.cart .cart-products {
  width: 65%;
  margin-right: 12%;
}
.cart .cart-products .checkout-types li {
  margin-top: 2.77777778%;
}
.cart .cart-products .checkout-types li:first-child {
  margin-top: 0;
}
.cart .cart-products .btn-remove,
.cart .cart-products .btn-edit {
  display: block;
  background: none;
  color: #000;
  font-size: 14px;
  font-family: "proxima-nova", "Proxima Nova", Arial, sans-serif;
  line-height: 1.6;
  padding-left: 22px;
  position: relative;
  width: 30px;
  height: 30px;
}
.cart .cart-products .btn-remove:before,
.cart .cart-products .btn-edit:before,
.cart .cart-products .btn-remove:after,
.cart .cart-products .btn-edit:after {
  display: block;
  content: '';
  width: 16px;
  height: 1px;
  background-color: #3a4763;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 15px;
  right: 7px;
}
.cart .cart-products .btn-remove:after,
.cart .cart-products .btn-edit:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cart .cart-products .btn-remove span {
  display: none;
}
.cart .cart-products .btn-edit:before {
  background: url("../../images/sprite.png") -268px -135px no-repeat;
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cart .cart-products .btn-edit:before {
    background-size: 500px 600px;
    background-image: url('../../images/sprite2x.png');
  }
}
.cart .cart-products .products-table td {
  width: 34.9%;
  vertical-align: top;
}
.cart .cart-products .products-table td + td {
  width: 67%;
}
.cart .cart-products .products-table td:first-child {
  padding: 0;
  vertical-align: middle;
}
.cart .cart-products .products-table tr {
  border-bottom: 1px solid #D3D6DB;
}
.cart .cart-products .products-table tr td {
  padding: 35px 0;
}
.cart .cart-products .products-table tr:first-child td {
  padding: 0 0 40px 0;
}
.cart .cart-products .products-table tr:last-child {
  border-bottom: none;
}
.cart .cart-products .products-table .product-name {
  text-transform: none;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 18px;
}
.cart .cart-products .products-table .product-name a {
  width: 48.5%;
  display: inline-block;
  letter-spacing: 0.04em;
}
.cart .cart-products .products-table .product-name span {
  letter-spacing: 0.04em;
}
.cart .cart-products .products-table .product-image {
  width: 87.5%;
  display: block;
}
.cart .cart-products .products-table dl.item-options {
  width: 100%;
  margin: 0;
  padding: 0;
}
.cart .cart-products .products-table dt,
.cart .cart-products .products-table dd {
  font-weight: 400;
  color: #616C82;
  font-size: 15px;
  margin: 0 0 8px 0;
  padding: 0;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.cart .cart-products .products-table dd {
  font-weight: 300;
  padding-left: 5px;
}
.cart .cart-products .products-table .lower-container {
  position: relative;
}
.cart .cart-products .products-table .lower-container .btn-remove,
.cart .cart-products .products-table .lower-container .btn-edit {
  position: absolute;
  top: -50px;
  right: 19px;
}
.cart .cart-options {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 23%;
}
.cart .cart-options .custom-styled-select select {
  padding: 24px 0;
}
.cart .cart-options h2 {
  margin-bottom: 20px;
  font-size: 1.556em;
  letter-spacing: 0.04em;
  line-height: 0.8;
}
.cart .cart-options h4 {
  border-top: 1px solid #D3D6DB;
  border-bottom: 1px solid #D3D6DB;
  font-size: 1em;
  line-height: 1.3;
  padding: 20px 0;
  margin-bottom: 0;
  position: relative;
  letter-spacing: 0;
}
.cart .cart-options h4 + div .shipping {
  padding: 0;
  margin-top: -15px;
}
.cart .cart-options .section .transitioning,
.cart .cart-options .section .opened {
  border-bottom: none;
}
.cart .cart-options .btn-continue,
.cart .cart-options .btn-proceed-checkout {
  margin-bottom: 10px;
}
.cart .cart-options .validation-advice {
  left: 0;
  top: 104%;
}
.cart .cart-options .accepted-cards {
  margin: 7% auto 0;
}
.cart .cart-options .accepted-cards h5 {
  text-align: center;
}
.cart .cart-options .accepted-cards .links {
  font-size: .1px;
  text-align: justify;
  width: 100%;
}
.cart .cart-options .accepted-cards .links:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.cart .cart-options .accepted-cards .links li {
  background-color: #F6F8FA;
  display: inline-block;
  height: 30px;
  margin-top: 0;
  min-width: 60px;
  padding: 4.2% 0;
  width: 17.5%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 901px) and (max-width: 1120px) {
  .cart .cart-options .accepted-cards .links li {
    width: 48%;
    margin-bottom: 3.8%;
  }
}
.cart .cart-options .accepted-cards .links li:hover {
  border-radius: 2px;
}
.cart .cart-options .accepted-cards .links li:before {
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -20px;
}
.cart .cart-options .accepted-cards .links li.amex:before {
  background: url("../../images/sprite.png") -3px -220px no-repeat;
  display: inline-block;
  content: "";
  width: 40px;
  height: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cart .cart-options .accepted-cards .links li.amex:before {
    background-size: 500px 600px;
    background-image: url('../../images/sprite2x.png');
  }
}
.cart .cart-options .accepted-cards .links li.discover:before {
  background: url("../../images/sprite.png") -3px -270px no-repeat;
  display: inline-block;
  content: "";
  width: 40px;
  height: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cart .cart-options .accepted-cards .links li.discover:before {
    background-size: 500px 600px;
    background-image: url('../../images/sprite2x.png');
  }
}
.cart .cart-options .accepted-cards .links li.visa:before {
  background: url("../../images/sprite.png") -3px -320px no-repeat;
  display: inline-block;
  content: "";
  width: 40px;
  height: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cart .cart-options .accepted-cards .links li.visa:before {
    background-size: 500px 600px;
    background-image: url('../../images/sprite2x.png');
  }
}
.cart .cart-options .accepted-cards .links li.mastercard:before {
  background: url("../../images/sprite.png") -3px -370px no-repeat;
  display: inline-block;
  content: "";
  width: 40px;
  height: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cart .cart-options .accepted-cards .links li.mastercard:before {
    background-size: 500px 600px;
    background-image: url('../../images/sprite2x.png');
  }
}
.cart .button.paypal span {
  padding-right: 110px;
}
.cart .button.paypal span:after {
  background-image: url('../images/paypal.png');
  top: -8px;
  left: auto;
  right: 0;
  height: 30px;
  width: 104px;
}
html.ie11 .cart .button.paypal span:after,
html.ie10 .cart .button.paypal span:after,
html.ie8 .cart .button.paypal span:after {
  top: -10px;
}
#shopping-cart-totals-table {
  width: 100%;
  margin: 14px 0;
}
#shopping-cart-totals-table tbody td {
  font-size: 1em;
  padding: 10px 0;
  margin: 0;
  opacity: 0.5;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}
#shopping-cart-totals-table tbody td:first-child {
  text-align: left !important;
}
#shopping-cart-totals-table tfoot td {
  font-size: 1em;
  font-weight: 800;
  padding: 10px 0;
  letter-spacing: 0;
  vertical-align: bottom;
}
#shopping-cart-totals-table tfoot td:first-child {
  text-align: left !important;
  width: 73%;
  letter-spacing: 0.07em;
}
#shopping-cart-totals-table .back {
  display: block;
  float: right;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0px 0 -3px 0;
  border-radius: 5px;
  width: 92px;
  height: 24px;
  letter-spacing: 1.86px;
  line-height: 24px;
  background-color: #D3D6DB;
  color: #fff;
}
.cart-contents .fieldset {
  padding-top: 0.55555556%;
  padding-bottom: 13.88888889%;
  margin-top: 0;
}
.empty-cart {
  display: block;
}
.empty-cart h2::first-letter {
  text-transform: uppercase;
}
.empty-cart .cart-empty {
  text-align: center;
}
.empty-cart .registered-users {
  max-width: 600px;
  margin: 0 auto;
  float: none;
}
.empty-cart .registered-users h2 {
  font-size: 1.556em;
  text-align: center;
  letter-spacing: 6px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 50px;
}
.empty-cart .registered-users p {
  text-align: center;
  line-height: 2;
  color: #616C82;
  font-size: 1em;
  padding-bottom: 1em;
}
.empty-cart .registered-users a {
  max-width: 400px;
  margin: 0 auto;
  float: none;
}
/*--------------------------------------------------------------
    Specific size for fixing the estimate shipping
    - (< 1200px)
--------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .cart .cart-products {
    width: 65%;
    margin-right: 5%;
  }
  .cart .cart-options {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  body.checkout-cart-index .page-title:after {
    padding-top: 0;
  }
  .cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
  .cart .cart-products {
    padding-bottom: 0;
    width: 100% !important;
  }
  .cart .cart-products .products-table {
    margin-bottom: 33px;
  }
  .cart .cart-products .products-table tr:first-child td {
    padding-top: 0 !important;
  }
  .cart .cart-products .products-table tr td {
    padding: 30px 0 !important;
  }
  .cart .cart-options {
    border: none;
    width: 100% !important;
    border-top: 1px solid #D3D6DB;
    margin: 0;
  }
  .cart .cart-options h2 {
    font-size: 1.556em;
    padding: 25px 0;
    margin-bottom: 0;
  }
  .cart .cart-options h4 + div .shipping {
    padding: 0;
    margin: 0;
  }
  .cart .cart-options .section .opened,
  .cart .cart-options .section .transitioning {
    border-bottom: none;
  }
  .cart .cart-options .accepted-cards {
    border-bottom: 1px solid #D3D6DB;
    margin: 3% auto 0;
    padding-bottom: 2%;
  }
  .cart .cart-options .accepted-cards .links {
    margin: 0 auto;
    width: 50%;
  }
  .cart .cart-options .btn-continue {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  body.checkout-cart-index .page-title {
    padding-bottom: 0;
  }
  body.checkout-cart-index .page-title:after,
  body.checkout-cart-index .page-title > div h1 {
    border: none;
    font-size: 1.6em;
  }
  .cart {
    padding-top: 0;
  }
  .cart .cart-products .products-table tr td {
    padding: 0 !important;
  }
  .cart .cart-products .products-table .product-image {
    width: 100%;
    margin-bottom: 0;
  }
  .cart .cart-products .products-table .product-image img {
    width: 100%;
  }
  .cart .cart-products .products-table .lower-container .item-options {
    width: 100%;
  }
  .cart .cart-products .products-table .lower-container .btn-remove {
    color: #D3D6DB;
    margin: 0 auto;
    display: block;
    float: none;
    font-weight: 600;
    font-size: 14px;
    clear: both;
    width: 90px;
    position: relative;
    height: 50px;
    vertical-align: middle;
    padding: 15px 0;
    right: auto;
    top: auto;
    text-transform: uppercase;
  }
  .cart .cart-products .products-table .lower-container .btn-remove:before,
  .cart .cart-products .products-table .lower-container .btn-remove span {
    display: inline;
    float: left;
    position: relative;
  }
  .cart .cart-products .products-table .lower-container .btn-remove span {
    margin-left: 5px;
  }
  .cart .cart-products .products-table .lower-container .btn-remove:before {
    top: 10px;
    right: auto;
    left: 0;
  }
  .cart .cart-products .products-table .lower-container .btn-remove:after {
    top: 25px;
    right: auto;
    left: 0;
  }
  .cart .cart-products .product-name {
    display: inline-block !important;
    width: 100%;
  }
  table.data-table.stacked td:before {
    display: none;
  }
  #shopping-cart-totals-table {
    margin: 10px 0;
  }
  #shopping-cart-totals-table tbody td {
    padding: 5px 0;
  }
  #shopping-cart-totals-table tfoot td {
    padding: 5px 0;
  }
}
/*# sourceMappingURL=cart.css.map */